
.hero{
height: calc(100vh - 100px); 
background: linear-gradient(180deg,#0c0c1d,#111132);
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
position: relative;

}
.hero_wrapper{
max-width: 1366px;
display: flex;
justify-content: space-around;  
height: 100%;
}
.hero_textContainer{
display: flex;
flex-direction: column;
justify-content: center;
width:80%;
height: 100%;
gap:40px;

}
.name{
font-size: 30px;
color:rebeccapurple;
letter-spacing: 10px; 
}
button{
    padding: 20px;  
    border:1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color:white;
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
}

.btn2{
    background-color: white;
    color:black;
    font-weight: 800;
  
}
h1{  font-size: 50px;}
.hero_imageContainer{
height: 130%;
position: relative;
}
.hero_imageContainer>img{
width: 100%;
height: 100%;
object-fit: contain;
}
.slidingTextContainer{
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color:#ffffff09;
    width: 50%;
    font-weight: bold;
 }
.scroll{width: 50px;} 

@media screen and (max-width: 1000px) {
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 25px;

    }
    .hero_textContainer{
        margin-left: 7rem;
    }
}
@media screen and (max-width: 800px) {
    .hero_textContainer{
      height: 60%;
      width: 100%;
      align-items: center;
      gap:20px;
      text-align: center;
      margin-left: 0rem;
    }
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 25px;

    }
    .hero_imageContainer{
     position:absolute;
     height: 50%;
     width: 100%;
     top:unset;
     bottom: 0;
    }
   
    .scroll{
    margin-bottom: 5rem;
    }
    button{
        padding: 15px;  
    }
    .name{
        margin-top:10px;
      
        }
  
}

